{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "prettier",
    "prettier/babel",
    "prettier/react",
    "prettier/standard"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": ["react", "standard", "babel"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [
      "warn",
      { "extionsions": [".jsx", ".js"] }
    ],
    "import/prefer-default-export": "off"
  }
}
